<div class="container">
  <h1 class="center">{{ tituloFormulario }}</h1>
</div>
<div class="flex">
  <form [formGroup]="formEntradas">
    <mat-form-field class="example-form-field">
      <mat-label>Entrada</mat-label>
      <input matInput type="text" formControlName="nome" />
    </mat-form-field>

    <!-- Lembrete: Adicionar mascara no valor -->
    <mat-form-field class="example-form-field">
      <mat-label>Valor total</mat-label>
      <input
        matInput
        type="text"
        inputmode="numeric"
        formControlName="valor"
        [mask]="'separator.2'"
        prefix="R$ "
        thousandSeparator="."
        decimalMarker=","
        [leadZero]="true"
        placeholder="R$ 0,00"
      />
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Quantidade de parcelas</mat-label>
      <input
        matInput
        type="number"
        formControlName="quantidadeParcelas"
        placeholder="1"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="categoriaId">
        <mat-option
          *ngFor="let categoria of categorias"
          [value]="categoria.categoryId"
        >
          {{ categoria.categoryName | capitalize}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="pago">
        <mat-option
          *ngFor="let status of statusDePagamento"
          [value]="status.value"
        >
          {{ status.descricao }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="tipo">
        <mat-option
          *ngFor="let type of typesRegistries"
          [value]="type.typeRegistryCode"
        >
          {{ type.typeRegistryName | capitalize}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Escolha uma data</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="data" />
      <mat-hint>dd/mm/aaaa</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>

  <div class="buttons">
    <button
      mat-raised-button
      [disabled]="!formEntradas.valid"
      (click)="Salvar()"
    >
      Salvar
    </button>
    <button mat-raised-button (click)="Voltar()">Voltar</button>
  </div>
</div>
