<div class="container">

    <div class="btn-criar" (click)="novaCategoria()">
          <a mat-fab extended routerLink=".">
            <mat-icon>add</mat-icon>
            Criar categoria
          </a>
      </div>

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="nome" class="tb-content">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="descricao" class="tb-content">
        <th mat-header-cell *matHeaderCellDef> Descricao </th>
        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
      </ng-container>

      <ng-container matColumnDef="editar" class="tb-content">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element"> <mat-icon style="color: rgb(62, 47, 201); cursor: pointer" (click)="editarCategoria(element)">edit</mat-icon> </td>
      </ng-container>
      <ng-container matColumnDef="deletar" class="tb-content">
        <th mat-header-cell *matHeaderCellDef> Deletar </th>
        <td mat-cell *matCellDef="let element"> <mat-icon style="color: rgb(223, 62, 62); cursor: pointer" (click)="excluirCategoria(element.id)">delete</mat-icon> </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]"
    showFirstLastButtons>
    </mat-paginator>
  
  </div>
  